html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
body * {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;    
    background: rgba(255,255,255,0.2);
    border-bottom: 3px solid rgba(255,255,255,0.5);
    padding: 10px;
    justify-content: center;
}
header label {
    border-radius: 4px;
    background-color: #7cc775;
    border: 1px solid rgba(255,255,255,0.2);
    font-weight: bold;
    font-size: 1.1rem;
    font-kerning: auto;
    padding: 0.6rem;
}
#carsNumber-input {
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 25px;
    width: 50px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    max-width: 100px;
}
#spawn-button {
    font-weight: bold;
    font-size: 1.1rem;
    font-kerning: auto;
    padding: 0.6rem;
    /* display: block; */
    /* margin: 0 auto; */
    border-radius: 3px;
    background-color: #7cc775;
    border: 1px solid rgba(255,255,255,0.2);
}
button:hover {
    cursor: pointer;
}
#spawn-button:active {
    background-color: #7cc7a6;
    color: rgba(240, 248, 255, 0.884);
}
main {
    /* display: inline-block; */
    min-width: 400px;
    margin: 0 100px;
    /* margin-bottom: 8px; */
}
#screen {
    display: block;
    margin: 0 auto;
}